.intro-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center top;
}

.intro-body {
  position: absolute;
  padding: 20px;
  text-align: center;
  bottom: 0;
  background-image: linear-gradient(to top, #436135, transparent);
  color: #fff;
  min-width: 100%;
  font-family: 'Quicksand';
}

.intro-card h3 {
  font-size: 32px;
}