.tk-wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Courgette';
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  background-position: center top;
}

.tk-title {
  font-size: 36px;
}

.tk-desc {
  padding: 1rem 0;
}