.social-link a {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6d3e28;
}

.social-link a i {
  font-size: 16px;
}

@keyframes gentle-shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-1px); }
  50% { transform: translateX(1px); }
  75% { transform: translateX(-1px); }
  100% { transform: translateX(0); }
}

.animate-gentle-shake {
  animation: gentle-shake 1s infinite ease-in-out;
}