/* Small screens (phones) */
@media (max-width: 600px) {
  .title {
    font-size: 2.25rem;
  }  
}

/* Medium screens (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .title {
    font-size: 4.25rem;
  }
}

/* Large screens (desktops) */
@media (min-width: 1025px) {
  .title {
    font-size: 4.25rem;
  }
}